// Grayscale
$WHITE: #ffffff;
$BLACK: #000000;

// Chromatic
$RED: #ff3b30;
$ORANGE: #ff9500;
$YELLOW: #ffcc00;
$GREEN: #34c759;
$TEAL: #5ac8fa;
$BLUE: #007aff;
$INDIGO: #5856d6;
$PURPLE: #af52de;
$PINK: #ff2d55;

$BACKGROUND: #f4f6fa;
$TITLE: #6878e1;
$PURPLE1: #5568fe;
$PURPLE2: #3f57ef;
$PURPLE3: #4859db;
$PURPLE4: #3346c1;
$FONT1: #2a303f;
$GRAY1: #eef0f7;
$GRAY2: #bcc5d2;
$GRAY3: #7d8caa;
$RED1: #ff453a;
