@use '/src/styles/constants/colors';

.loader {
  position: relative;
  font-size: 7px;
  color: colors.$PURPLE4;
  text-indent: -9999em;
  transform: translateZ(0);

  &,
  &::before,
  &::after {
    position: absolute;
    width: 1.8em;
    height: 1.8em;
    content: '';
    border-radius: 50%;
    animation: bblFadInOut 1.8s infinite ease-in-out;
    animation-fill-mode: both;
  }

  &::before {
    left: -3.5em;
    animation-delay: -0.32s;
  }

  &::after {
    left: 3.5em;
  }
}

@keyframes bblFadInOut {
  0%,
  80%,
  100% { box-shadow: 0 2.5em 0 -1.3em; }
  40% { box-shadow: 0 2.5em 0 0; }
}
