@use '/src/styles/constants/colors';

.resultContainer {
  display: flex;
  width: 65vw;
  min-width: 250px;
  padding: 20px;

  .chartContainer {
    min-width: 200px;
  }

  .inforContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 150px;

    ul {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      font-weight: 500;
      color: colors.$WHITE;
      background-color: colors.$PURPLE1;
      border-radius: 15px;

      &:hover {
        background-color: colors.$PURPLE3;
        div { background-color: colors.$PURPLE4; }
      }
    }
  }
}

@media screen and (max-width: 625px) {
  .resultContainer {
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .chartContainer {
      position: relative;
      width: 40vw;
      margin-bottom: 25vh;
    }

    .inforContainer {
      position: absolute;
      width: 45vw;
      height: 21vh;
      margin-top: 160px;

      ul {
        height: 13vh;
      }

      .btnContainer {
        margin-top: 10px;

        button {
          height: 30px;
        }

        .saveBtn {
          margin-top: 10px;
        }
      }
    }
  }
}

@media screen and (min-width: 625px) {
  .resultContainer {
    flex-direction: row;
    align-items: center;
    min-height: 150px;

    .chartContainer {
      width: 60vh;
    }

    .inforContainer {
      width: 20vw;
      margin-left: 7vw;
    }

    ul {
      height: 16vh;
    }

    .btnContainer {
      height: 23vh;

      button {
        min-width: 140px;
        height: 45px;
        min-height: 35px;
      }
    }

    .homeBtn {
      margin-top: 50px;
    }

    .saveBtn {
      margin-top: 30px;
    }
  }
}
