@use '/src/styles/constants/colors';
@import 'https://fonts.googleapis.com/css2?family=Secular+One&display=swap';

.headerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  h3 {
    font-family: 'Secular One', sans-serif;
    font-weight: 800;
    color: colors.$TITLE;
    text-transform: uppercase;
    letter-spacing: 4px;
  }

  p {
    margin: 10px 0;
    color: colors.$FONT1;
  }
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20vw;
    min-width: 200px;
    margin-top: 20px;
    color: colors.$WHITE;
    background-color: colors.$PURPLE1;
    border-radius: 15px;

    &:hover {
      background-color: colors.$PURPLE3;
      div { background-color: colors.$PURPLE4; }
    }

    div {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 10px;
      background-color: colors.$PURPLE2;
      border-radius: 50%;

      svg {
        color: colors.$WHITE;
      }
    }
  }

  .link {
    margin-top: 20px;
    color: colors.$FONT1;

    &:hover {
      text-decoration: underline;
      text-underline-position: under;
    }
  }
}

@media screen and (max-width: 625px) {
  .headerContainer {
    h3 { font-size: 35px; }
    p { font-size: 15px; }
  }

  .buttonContainer {
    button {
      height: 45px;
      font-size: 14px;

      div {
        width: 26px;
        height: 26px;

        svg {
          width: 18px;
          height: 18px;
        }
      }
    }

    .link {
      font-size: 14px;
    }
  }
}

@media screen and (min-width: 625px) {
  .headerContainer {
    h3 { font-size: 50px; }
    p { font-size: 19px; }
  }

  .buttonContainer {
    button {
      height: 55px;
      font-size: 17px;

      div {
        width: 35px;
        height: 35px;

        svg {
          width: 20px;
          height: 20px;
        }
      }
    }

    .link {
      font-size: 16px;
    }
  }
}
