@use '/src/styles/constants/colors';

.boxContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 75vw;
  min-width: 250px;
  height: 60vh;
  background-color: colors.$WHITE;
  border-radius: 30px;
}

@media screen and (max-width: 625px) {
  .boxContainer { height: 400px; }
}

@media screen and (min-width: 625px) {
  .boxContainer { min-height: 400px; }
}
